// use https://chir.ag/projects/name-that-color/#D674F4 for nameing colors

:root {
  --white: #fff;
  --black: #000000;
  --heliotrope: #dc8af5;
  --scarlet-gum: #421965;
  --dusty-gray: #999999;
  --mine-shaft: #373737;
}
